html {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(/img/patrick-tomasso-QMDap1TAu0g-unsplash.jpg) no-repeat; 
    background-size: cover;
    background-position: bottom; 
    min-height: 100%;
}

form {
    padding: 20px;
    margin-top: 60px;
}
form button, form h5 {
    margin: 20px 0;
}

table, tbody, tr, td {
    min-width: 200px;
}

table, thead, tr, th {
    min-width: 200px;
}